<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="Windows"
			  connectionString="Server=DESKTOP-CS1S054;Database=DataBase;Integrated Security=True;"			
			 providerName="System.Data.SqlClient"/>
		
		<add name="Admin"			 
     connectionString="Server=DESKTOP-CS1S054;Database=DataBase;User Id=Admin;Password=#MasterSql;"
     providerName="System.Data.SqlClient"/>
		
		<add name="Comum"
     connectionString="Server=DESKTOP-CS1S054;Database=DataBase;User Id=Comum;Password=#usuario123;"
     providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<add key="EPPlusLicenseType" value="NonCommercialPersonal" />
		<add key="EPPlusLicenseName" value="System" />
	</appSettings>
</configuration>